/* ----- Global Styles ----- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* ----- Main Styles ----- */

.header {
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}

.header::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .5);
    z-index: -1;
}

.video-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.title {
    font-size: 10rem;
    color: #eeeeee;
    text-shadow: 2px 2px 10px #333;
}

.desc {
    font-size: 2rem;
    color: #eeeeee;
    text-align: right;
    text-shadow: 2px 2px 10px #333;
}


/* ----- Switch Button ----- */

.switch-btn {
    position: absolute;
    bottom: 7%;
    left: 7%;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    transition:  all 0.3s linear;
}

.switch-btn span {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color:  #49a6e9;
}
.switch {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #49a6e9;
    border-radius: 10px;
    display: block;
    transition:  all 0.3s linear;
}

.slide .switch {
    left: 50%;
}

/* ----- Preloader ----- */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ffffff;
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    z-index: 999;
}

.hide-preloader {
    z-index: -999;
    visibility: hidden;
}

/* ----- Media Queries ----- */

@media screen and (max-width: 600px) {
    .title {
        font-size: 5rem;
    }

    .switch-btn {
        left: 50%;
        transform: translate(-50%);
    }
}